.wrap {
    margin: 0 auto;
    max-width: 1200px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section {
    margin-bottom: 200px;
}

.t {
    border: 1px solid black;
}